.reports{
    height: 100vh;
}
.table{
    width: 100%;
}
.tr{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
}
.th{
    width: 30%;
    flex-basis: 180px;
    
}
.reports-td{
    width: 320px;
    flex-basis: 180px;
    flex-grow: 1;
}
.reports-td select{
    width: 300px;
    flex-basis: 200px;
}

h2{
    text-align: start;
    margin: 0px 0px 10px 0px;
}
.buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

::placeholder{
    font-size: 1rem;
}
/* .relative{
    width: 100%;
} */