@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.bodyy{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    /* border: 2px solid rgba(55, 37, 221, 0.86); */
  
  }
  .navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    position: inherit;
    background-color: rgba(55, 37, 221, 0.86);
    font-weight: 500;
    letter-spacing: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* z-index: 1; */
    
  }
  .navbar h6{
    color:  white;
    font-size: 27px;
    
  }
  
  .container1{
    margin: 0px auto ;
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.11);
  }
  
  .datetime , .e-mail , .submit-button{
    margin-top: 30px;
  }
  input, select {
    border: 1px solid rgba(123, 126, 126, 0.56);
    border-radius: 5px;
    padding: 5px;
    /* outline: none;  */
    width: 200px; 
  }
  input:focus{
    outline: none;
    box-shadow:  0px 0px 5px 3px rgba(105, 128, 230,0.4);
  }
.submit-button{
  display: flex;
  justify-content: center;
  width:100%;
}
.button-submit{
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: #4f46e5;
}
.button-submit:hover {
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
  /* box-shadow:  0px 0px 7px 3px #4f46e5; */
  background-color: #4f46e5;
}
.back-button{
  font-size: 25px;
  left:15%;
  color: white;
  position: absolute;
}

.frequency{
  margin-top: 20px;
  display: flex;
  justify-content:left;
}

.container-body{
  margin-top: 20px;
  width: 100%;

}
.reportname select{
  width: 100%;
  height: 60px;
}
.reportname{
  margin-top: 15px;
}
#container-footer{
  display: none;
  text-align: start;
  padding: 5px;
  font-size: 15px;
}