.machine_ssh{
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.machine_rdp{
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}
.machine_vnc{
    font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}