.App {
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: radial-gradient(circle farthest-corner at bottom left, rgba(231, 222, 249, 0.1) 0%, rgba(248, 221, 202, 0.5) 40%, rgba(194, 234, 227, 0.3) 100%);
  height: 100vh;
  width: 100%;
  display: flex;
}
.app1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: #FF7F3E; */
  /* background-color:#d97a46a1; */
  background-color: rgba(240, 248, 255, 0.801);
  /* background-color: rgb(250, 249, 249); */
  
}
center {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-logo {
  height: 40px;
  pointer-events: none;
}
.domain-submit-button{
  /* background-color:  rgb(250,238,229); */
  height: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .App img {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App img {
    animation: loading-icon-spin infinite 20s linear;
  }
}

@keyframes loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
